.left_side_bar_ {
  inset: 0;
  background: #fff;
  max-width: 80px;
  /* padding: 0px 35px; */
  padding-top: 80px;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  z-index: 111;
}
.profile_image {
  padding-top: 20px;
}
.menu_items ul {
  /* padding-left: 0px; */
  margin-top: 26px;
  padding: 0px 16px;
}
.menu_items ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.menu_items ul li img {
  height: 48px;
  /* display: block; */
}

.activeitem {
  background-color: #00d2e1;
  border-radius: 12px;
}
.activeitem img {
  filter: brightness(5);
}
.mobile_version_sidebar {
  display: none;
}
.menu_items {
  overflow: hidden scroll;
  height: 100vh;
  padding-bottom: 30px;
}
.menu_items::-webkit-scrollbar {
  width: 0px;
}
@media screen and (max-width: 650px) {
  .web_version_sidebar {
    display: none;
  }
  .mobile_version_sidebar {
    display: block;
  }
  .left_side_bar_mobile {
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
    overflow-x: hidden;
    transition: all 0.3s ease;
    padding-top: 60px;
    bottom: 0px;
    z-index: 1111;
  }
  .left_side_bar_mobile .menu_items ul li,
  .left_side_bar_mobile .profile_image {
    text-align: center;
  }
  .close {
    position: absolute;
    left: -200px;
    transition: all 0.3s ease;
  }
}
