.cirlce_pro2 {
  text-align: center;
}
.cirlce_pro2 span {
  font-family: "Rajdhani", sans-serif !important;
  color: #3d405c !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 16px !important;
}
