.comments_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.reaction_time {
  margin-left: 12px;
}
.reaction_time h6 {
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  color: #3d405c;
}
.reaction_time .name {
  font-weight: 700;
}
.reaction_time .highlight {
  color: #00c7d7;
  font-weight: 600;
}
.reaction_time .time {
  font-family: "Rajdhani", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #9192a5;
  margin-top: 4px;
  margin-bottom: 0px;
}
.right_sidebar_content_ {
  padding-top: 0px;
  margin-right: 8px;
}
.number_sidebar_ {
  position: absolute;
  right: 0px;
  bottom: -1px;
  z-index: 11;
}
.number_sidebar_ p {
  margin-bottom: 0px;
  font-size: 0.625rem;
  color: white;
  font-weight: 700;
}
.userSidebarImg_ {
  width: 35px;
  height: 37px;
  border-radius: 44%;
  margin-top: 3px;
  margin-left: 3px;
}
.hexa_frame_ {
  position: absolute;
  width: 43px;
  z-index: 11;
  left: 0;
}
